/* Divider Sass */

.ulockd-frst-divider {
  overflow-x: hidden;
  position: relative;
  &:before {
	  background-color: rgba($black-rgb, $alpha5);
	  content: "";
	  height: 100%;
	  position: absolute;
	  top: 0;
	  width: 100%;
  }
  .hvr-overline-from-center {
    &:before{
      background-color: $white-ff;
    }
  }
  .style1 {
	background-attachment: scroll !important;
	background-color: transparent;
	background-image: url("../images/background/1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow-x: hidden;
	z-index: 1;
  	&:before {
  	  background-color: rgba($black-rgb, $alpha5);
  	  content: "";
  	  height: 100%;
  	  position: absolute;
  	  top: 0;
  	  width: 100%;
  	}
  }
}
.divider {
  background-attachment: scroll !important;
  background-image: url("../images/background/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  &:before {
  	background-color: rgba($black-1rgb, $alpha75);
  	content: "";
  	height: 100%;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 100%;
  }
  &.half-block {
    &:before {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 45%;
    }
  }
}
.divider-triangle {
  background-attachment: scroll !important;
  background-image: url("../images/background/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  &.half-block {
    &:before {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      width: 45%;
    }
  }
}
.ulockd-divider {
  padding: 40px 0;
}
.ulockd-divider1 {
  background-attachment: fixed !important;
  background-color: transparent;
  background-image: url("../images/background/2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 40px 0;
  &:before {
  	background-color: rgba($gray-rgb, $alpha8);
  	content: "";
  	height: 100%;
  	position: absolute;
  	top: 0;
  	width: 100%;
  }
}
.divider-box-tringle {
  padding: 50px 50px 50px 0;
  position: relative;
  &:before {
    border-right: 200px solid transparent;
    content: "";
    position: absolute;
    right: -215px;
    top: 0;
    z-index: 999;
  }
  &:after {
    border-right: 200px solid transparent;
    bottom: -25px;
    content: "";
    position: absolute;
    right: -215px;
    z-index: 999;
  }
}
.divider-triangle2 {
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  &.half-block2 {
    &:before {
      background-color: rgba($white-rgb, $alpha95);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 47%;
      &.one {
        width: 50% !important;
      }
    }
    &.one {
      &:before {
        width: 50% !important;
      }
    }
    &:after {
      background-image: url("../images/background/1.jpg");
      background-position: center 35%;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 47%;
      z-index: -1;
    }
    &.one {
      &:after {
        width: 50% !important;
      }
    }
  }
}
.divider-box-tringle2 {
  margin-left: 30px;
  padding: 0 0 0 50px;
  position: relative;
  z-index: 999;
}
/* Background Video */
.video-section {
  .pattern-overlay {
    background-image: url('../images/resource/videooverlay1.png');
    background-color: rgba($black-rgb, $alpha3);
    padding: 110px 0 25px;
    min-height: 880px; 
    /* Incase of overlay problems just increase the min-height*/
  }
  h1 {
    font-size: 72px;
    text-transform: uppercase;
    margin: 15% auto 0px;
  }
  h3 {
    margin: 0px auto 15px;
  }
  .buttonBar {
    display:none;
  }
}