/* Main Sass */
.img-whp {
  width: 100% !important;
}
.color-white {
  color: $white-ff !important;
}
.color-lightgray {
  color: $gray-lightgrey;
}
.color-gray {
  color: $gray-base;
}
.color-black {
  color: $black;
}
.color-black11 {
  color: $black-11 !important;
}
.color-black22 {
  color: $black-22;
}
.color-black33 {
  color: $black-33;
}
.color-black31 {
  color: $black-31;
}
.color-black44 {
  color: $black-44;
}
.color-black55 {
  color: $black-55;
}
.color-black66 {
  color: $black-66;
}
.color-primary {
  color: $primary-color;
}
.color-success {
  color: $success-color;
}
.color-info {
  color: $info-color;
}
.color-warning {
  color: $warning-color;
}
.color-danger {
  color: $danger-color;
}
.bgc-black11 {
  background-color: $black-11 !important;
}
.bgc-primary {
  background-color: $primary-color;
}
.bgc-success {
  background-color: $success-color;
}
.bgc-info {
  background-color: $info-color;
}
.bgc-warning {
  background-color: $warning-color;
}
.bgc-danger {
  background-color: $danger-color;
}
.bgc-white {
  background-color: $white-ff;
}
.bgc-lightgray {
  background-color: $gray-lightgrey;
}
.bgc-snowshade {
  background-color: $white-f9;
}
.bgc-snowshade2 {
  background-color: $white-fa;
}
.bgc-transparent {
  background-color: transparent !important;
}
.bdrs0 {
  border-radius: 0 !important;
}
.bdrs5 {
  border-radius: 5px;
}
.bdrs10 {
  border-radius: 10px;
}
.bdrs20 {
  border-radius: 20px;
}
.bdrs50 {
  border-radius: 50%;
}
.tdu-hvr {
  &:hover {
    cursor: pointer;
    text-decoration: underline;    
  }
}
//== Button
/*.btn {
  @include box-shadow(0 8px 5px -5px lighten($black-11, $alpha5) !important);
}*/
.ulockd-btn-thm2 {
  color: $white-ff;
  border-radius: 0px;
  padding: 10px 20px;
  @include transition(all 0.3s ease);
}
.ulockd-btn-thm2 {
  &:hover,
  &:active,
  &:focus {
    background-color: $black-31;
    border-color: $black-31;
    color: $white-ff;
  }
}
.ulockd-btn-styledark {
  background-color: $black-31;
  border-color: $black-31;
  color: $white-ff;
  border-radius: 0px;
  padding: 10px 20px;
  @include transition(all 0.3s ease);
  &:hover,
  &:active,
  &:focus {
    color: $white-ff;
  }
}
.ulockd-btn-styledark {
  &:hover,
  &:active,
  &:focus {
    color: $white-ff;
  }
}
.ulockd-btn-yellow {
  background-color: $yellow2;
  border-color: $yellow2;
  color: $black-33;
  border-radius: 0px;
  padding: 10px 20px;
  @include transition(all 0.3s ease);
  &:hover,
  &:active,
  &:focus {
    color: $black-33;
  }
}
.ulockd-btn-yellow {
  &:hover,
  &:active,
  &:focus {
    color: $white-ff;
  }
}
.ulockd-btn-white {
  background-color: $white-ff;
  border-color: $white-ff;
  color: $black-31;
  border-radius: 0px;
  padding: 10px 20px;
  @include transition(all 0.3s ease);
}
.ulockd-btn-white {
  &:hover,
  &:active,
  &:focus {
    color: $white-ff;
  }
}
.ulockd-btn-gray {
  background-color: $gray-lightgrey;
  border-color: $gray-lightgrey;
  color: $black-31;
  border-radius: 0px;
  padding: 10px 20px;
  @include transition(all 0.3s ease);
}
.ulockd-btn-gray {
  &:hover,
  &:active,
  &:focus {
    color: $white-ff;
  }
}
.ulockd-btn-transparent {
  background-color: transparent;
  border-color: $white-ff;
  color: $white-ff !important;
  border-radius: 0px;
  padding: 10px 20px;
  @include transition(all 0.3s ease);
}
.btn-default {
  font-size: 14px;
}
.fz11 {
  font-size: 11px;
}
.fz13 {
  font-size: 13px;
}
.fz16 {
  font-size: 16px;
}
.fz20 {
  font-size: 20px;
}
.fz40 {
  font-size: 40px;
}
.fz45 {
  font-size: 45px;
}
.fz48 {
  font-size: 48px;
}
.fz60 {
  font-size: 60px;
}
.fz72 {
  font-size: 72px;
}
.fz100 {
  font-size: 100px !important;
}
//== Line Height
.lh30 {
  line-height: 30px;
}
//== Height
.h10 {
  height: 10px;
}
.h20 {
  height: 20px;
}
.h25 {
  height: 25px;
}
.h30 {
  height: 30px;
}
.h35 {
  height: 35px;
}
.h40 {
  height: 40px;
}
.h45 {
  height: 45px;
}
.h50 {
  height: 50px;
}
.h100 {
  height: 100px;
}
.h150 {
  height: 150px;
}
.h200 {
  height: 200px;
}
.h250 {
  height: 250px;
}
.h300 {
  height: 300px;
}
.h320 {
  height: 320px;
}
.h350 {
  height: 350px;
}
.h400 {
  height: 400px;
}
.h450 {
  height: 450px;
}
.h500 {
  height: 500px;
}
.h550 {
  height: 550px;
}
.h600 {
  height: 600px;
}
.h650 {
  height: 650px;
}
.h700 {
  height: 700px;
}
.h750 {
  height: 750px;
}
.h800 {
  height: 800px;
}
.h850 {
  height: 850px;
}
.h900 {
  height: 900px;
}
//== Font Weight
.fw300 {
  font-weight: 300 !important;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}
//== Display Shortcode
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.dif {
  display: inline-flex;
}
.dfr {
  display: flow-root;
}
.dn {
  display: none;
}
//== Overflow
.ovh {
  overflow: hidden;
}
.ovv {
  overflow: visible;
}
//== Padding = Margin
.ulockd-pmz {
  margin: 0;
  padding: 0;
}
.ulockd-pdng0 {
  padding: 0;
}
.ulockd-pdng10 {
  padding: 10px;
}
.ulockd-pdng15 {
  padding: 15px;
}
.ulockd-pdng20 {
  padding: 20px;
}
.ulockd-pdng25 {
  padding: 25px;
}
.ulockd-pdng30 {
  padding: 30px;
}
.ulockd-pdng35 {
  padding: 35px;
}
.ulockd-pdng40 {
  padding: 10px;
}
.ulockd-pdng45 {
  padding: 45px;
}
.ulockd-pdng50 {
  padding: 50px;
}
.ulockd-pdng55 {
  padding: 55px;
}
.ulockd-pdng60 {
  padding: 60px;
}
.ulockd-pdng65 {
  padding: 65px;
}
.ulockd-pdng70 {
  padding: 70px;
}
.ulockd-pdng75 {
  padding: 75px;
}
.ulockd-pdng80 {
  padding: 80px;
}
.pad10 {
  padding: 10% 5%;
}
.pad17 {
  padding-top: 17% !important;
}
.ulockd-pad120 {
  padding-top: 0px;
}
.ulockd-pad1210 {
  padding-top: 10px;
}
.ulockd-pad1215 {
  padding-top: 15px;
}
.ulockd-pad1220 {
  padding-top: 20px;
}
.ulockd-pad1225 {
  padding-top: 25px;
}
.ulockd-pad1230 {
  padding-top: 30px;
}
.ulockd-pad1235 {
  padding-top: 35px;
}
.ulockd-pad1240 {
  padding-top: 40px;
}
.ulockd-pad1245 {
  padding-top: 45px;
}
.ulockd-pad1250 {
  padding-top: 50px;
}
.ulockd-pad310 {
  padding-right: 10px;
}
.ulockd-pad315 {
  padding-right: 15px;
}
.ulockd-pad615 {
  padding-bottom: 15px;
}
.ulockd-pad620 {
  padding-bottom: 20px;
}
.ulockd-pad625 {
  padding-bottom: 25px;
}
.ulockd-pad630 {
  padding-bottom: 30px;
}
.ulockd-pad635 {
  padding-bottom: 35px;
}
.ulockd-pad640 {
  padding-bottom: 40px;
}
.ulockd-pad645 {
  padding-bottom: 45px;
}
.ulockd-pad650 {
  padding-bottom: 50px;
}
.ulockd-pad90 {
  padding-left: 0;
}
.ulockd-pad95 {
  padding-left: 5px;
}
.ulockd-pad910 {
  padding-left: 10px;
}
.ulockd-pad915 {
  padding-left: 15px;
}
.ulockd-pad920 {
  padding-left: 20px;
}
.ulockd-pad925 {
  padding-left: 25px;
}
.ulockd-pad930 {
  padding-left: 30px;
}
.ulockd-pad935 {
  padding-left: 35px;
}
.ulockd-pad940 {
  padding-left: 40px;
}
.ulockd-pad945 {
  padding-left: 45px;
}
.ulockd-pad950 {
  padding-left: 50px;
}
.ulockd-pad955 {
  padding-left: 55px;
}
.ulockd-pad960 {
  padding-left: 60px;
}
.ulockd-pad965 {
  padding-left: 65px;
}
.ulockd-pad970 {
  padding-left: 70px;
}
.ulockd-pad975 {
  padding-left: 75px;
}
.ulockd-pad980 {
  padding-left: 80px;
}
.ulockd-pad985 {
  padding-left: 85px;
}
.ulockd-pad990 {
  padding-left: 90px;
}
.ulockd-pad995 {
  padding-left: 95px;
}
.ulockd-pad9100 {
  padding-left: 100px;
}
.ulockd-pad30 {
  padding-right: 0;
}
.ulockd-pad35 {
  padding-right: 5px;
}
.ulockd-pad395 {
  padding-left: 5px;
  padding-right: 5px;
}
.ulockd-pad3915 {
  padding-left: 15px;
  padding-right: 15px;
}
.ulockd-pad392 {
  padding-left: 2px;
  padding-right: 2px;
}
.ulockd-pad123692 {
  padding-left: 2px;
  padding-right: 2px;
}
.ulockd-pad390 {
  padding-left: 0px;
  padding-right: 0px;
}
.ulockd-pad90 {
  padding-left: 0px;
}
.ulockd-pad95 {
  padding-left: 5px;
}
.ulockd-mrgn12-10 {
  margin-top: -10px;
}
.ulockd-mrgn120 {
  margin-top: 0px !important;
}
.ulockd-mrgn125 {
  margin-top: 5px;
}
.ulockd-mrgn1210 {
  margin-top: 10px;
}
.ulockd-mrgn1215 {
  margin-top: 15px;
}
.ulockd-mrgn1220 {
  margin-top: 20px;
}
.ulockd-mrgn1225 {
  margin-top: 25px !important;
}
.ulockd-mrgn1230 {
  margin-top: 30px;
}
.ulockd-mrgn1235 {
  margin-top: 35px;
}
.ulockd-mrgn1240 {
  margin-top: 40px;
}
.ulockd-mrgn1245 {
  margin-top: 45px;
}
.ulockd-mrgn1250 {
  margin-top: 50px;
}
.ulockd-mrgn1260 {
  margin-top: 60px;
}
.ulockd-mrgn12100 {
  margin-top: 100px;
}
.ulockd-mrgn12150 {
  margin-top: 150px;
}
.ulockd-mrgn12200 {
  margin-top: 200px;
}
.ulockd-mrgn12250 {
  margin-top: 250px !important;
}
.ulockd-mrgn12300 {
  margin-top: 3000px;
}
.ulockd-mrgn30 {
  margin-right: 0px;
}
.ulockd-mrgb35 {
  margin-right: 5px;
}
.ulockd-mrgn310 {
  margin-right: 10px;
}
.ulockd-mrgn315 {
  margin-right: 15px;
}
.ulockd-mrgn60 {
  margin-bottom: 0px;
}
.ulockd-mrgn65 {
  margin-bottom: 5px;
}
.ulockd-mrgn610 {
  margin-bottom: 10px;
}
.ulockd-mrgn615 {
  margin-bottom: 15px;
}
.ulockd-mrgn620 {
  margin-bottom: 20px;
}
.ulockd-mrgn625 {
  margin-bottom: 25px !important;
}
.ulockd-mrgn630 {
  margin-bottom: 30px;
}
.ulockd-mrgn635 {
  margin-bottom: 35px;
}
.ulockd-mrgn640 {
  margin-bottom: 40px;
}
.ulockd-mrgn650 {
  margin-bottom: 50px !important;
}
.ulockd-mrgn90 {
  margin-left: 0px;
}
.ulockd-mrgn910 {
  margin-left: 10px;
}
.ulockd-mrgn915 {
  margin-left: 15px;
}
.ulockd-mrgn920 {
  margin-left: 20px;
}
.ulockd-mrgn925 {
  margin-left: 25px;
}
.ulockd-mrgn930 {
  margin-left: 30px;
}
.ulockd-mrgn935 {
  margin-left: 35px;
}
.ulockd-mrgn940 {
  margin-left: 40px;
}
.ulockd-mrgn945 {
  margin-left: 45px;
}
.ulockd-mrgn950 {
  margin-left: 50px;
}
.ulockd-mrgn955 {
  margin-left: 55px;
}
.ulockd-mrgn960 {
  margin-left: 60px;
}
.ulockd-mbmt0 {
  margin-bottom: 0;
  margin-top: 0;
}
//== Background Images Call
.ulockd_bgi1 {  
  background-attachment: scroll;
  background-image: url("../images/background/1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgi2 {  
  background-attachment: scroll;
  background-image: url("../images/background/2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgi3 {  
  background-attachment: scroll;
  background-image: url("../images/background/3.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgi4 {  
  background-attachment: scroll;
  background-image: url("../images/background/4.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih1 {  
  background-attachment: scroll;
  background-image: url("../images/home/h1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih2 {  
  background-attachment: scroll;
  background-image: url("../images/home/h2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih3 {  
  background-attachment: scroll;
  background-image: url("../images/home/h3.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih4 {  
  background-attachment: scroll;
  background-image: url("../images/home/h4.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih5 {  
  background-attachment: scroll;
  background-image: url("../images/home/h5.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgp1 {  
  background-attachment: scroll;
  background-image: url("../images/pattern/1.png");
}
.ulockd_bgp2 {  
  background-attachment: scroll;
  background-image: url("../images/pattern/2.png");
}
.ulockd_bgp3 {  
  background-attachment: scroll;
  background-image: url("../images/pattern/3.png");
}
.ulockd_bgp4 {  
  background-attachment: scroll;
  background-image: url("../images/pattern/4.png");
}
.ulockd_bgp5 {  
  background-attachment: scroll;
  background-image: url("../images/pattern/5.png");
}
//== Main Title & Line Bottom style
.ulockd-main-title {
  position: relative;
  margin-bottom: 40px;
  h2 {
    margin-top: 0;
    font-family: $font-raleway;
  }
}
.mt-separator {
  height: 1px;
  margin: 25px auto;
  position: relative;
  text-align: center;
  width: 110px;
  &:after {
    content: "";
    height: 15px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    top: -6px;
    width: 15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.title-bottom {
  position: relative;
  &:before {
    bottom: -15px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 80px;
  }
}
//== Background Images Call
.ulockd_bgi1 {  
  background-attachment: scroll;
  background-image: url("../images/background/1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgi2 {  
  background-attachment: scroll;
  background-image: url("../images/background/2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgi3 {  
  background-attachment: scroll;
  background-image: url("../images/background/3.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgi4 {  
  background-attachment: scroll;
  background-image: url("../images/background/4.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih1 {  
  background-attachment: scroll;
  background-image: url("../images/home/h1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih2 {  
  background-attachment: scroll;
  background-image: url("../images/home/h2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih3 {  
  background-attachment: scroll;
  background-image: url("../images/home/h3.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih4 {  
  background-attachment: scroll;
  background-image: url("../images/home/h4.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ulockd_bgih5 {  
  background-attachment: scroll;
  background-image: url("../images/home/h5.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
//== Section
section {
  padding: 70px 0;
  position: relative;
}
.ulockd-main-title {
  h2 {
    font-weight: bold;
  }
}
//== Preloader
.preloader {
  background-color:$white-ff;
  background-image:url("../images/preloader.gif");
  background-position:center center;
  background-repeat:no-repeat;
  height:100%;
  left:0px;
  position:fixed;
  top:0px;
  width:100%;
  z-index: $zindex-scrollToHome;
}
.preloader_disabler {
  bottom: 10px;
  left: 43%;
  position: absolute; }
  
//== ScrollToTop
.scrollToHome {
  &:hover {
    color: $white-ff;
    background-color: $black-22;
  }
}
.scrollToHome {
  background-color: $black-22;
  border: 2px solid $white-ff;
  bottom: 15px;
  color: $white-ff;
  display: none;
  font-size: 20px;
  line-height: 1.5em;
  padding: 3px 10px;
  position: fixed;
  right: 20px;
  text-align: center;
  z-index: $zindex-scrollToHome;
  @include transition(all 0.3s ease-in-out);
}
.list-style-square {
  li {
    color: $black-55;
    font-size: 16px;
    list-style-type: square;
    margin-left: 18px;
  }
}
.list-style-circle {
  li {
    color: $black-22;
    font-size: 16px;
    list-style-type: circle;
    margin-left: 18px;
  }
}
/* BackGround Color White Overlay */
.bgc-overlay-white3:before {
  background-color: rgba($white-rgb, $alpha3);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white35:before {
  background-color: rgba($white-rgb, $alpha35);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white4:before {
  background-color: rgba($white-rgb, $alpha4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white45:before {
  background-color: rgba($white-rgb, $alpha45);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white5:before {
  background-color: rgba($white-rgb, $alpha5) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white55:before {
  background-color: rgba($white-rgb, $alpha55) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white6:before {
  background-color: rgba($white-rgb, $alpha6) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white65:before {
  background-color: rgba($white-rgb, $alpha65) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white7:before {
  background-color: rgba($white-rgb, $alpha7) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white75:before {
  background-color: rgba($white-rgb, $alpha75) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white8:before {
  background-color: rgba($white-rgb, $alpha8) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white85:before {
  background-color: rgba($white-rgb, $alpha85) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white9:before {
  background-color: rgba($white-rgb, $alpha9) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-white95:before {
  background-color: rgba($white-rgb, $alpha95) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* BackGround Color Black Overlay */
.bgc-overlay-black3:before {
  background-color: rgba($black-rgb, $alpha3);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black35:before {
  background-color: rgba($black-rgb, $alpha35);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black4:before {
  background-color: rgba($black-rgb, $alpha4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black45:before {
  background-color: rgba($black-rgb, $alpha45);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black5:before {
  background-color: rgba($black-rgb, $alpha5) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black55:before {
  background-color: rgba($black-rgb, $alpha55) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black6:before {
  background-color: rgba($black-rgb, $alpha6) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black65:before {
  background-color: rgba($black-rgb, $alpha65) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black7:before {
  background-color: rgba($black-rgb, $alpha7) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black75:before {
  background-color: rgba($black-rgb, $alpha75) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black8:before {
  background-color: rgba($black-rgb, $alpha8) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black85:before {
  background-color: rgba($black-rgb, $alpha85) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black9:before {
  background-color: rgba($black-rgb, $alpha9) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.bgc-overlay-black95:before {
  background-color: rgba($black-rgb, $alpha95) !important;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc95:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc9:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc85:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc8:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc75:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc7:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc65:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc6:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc55:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.overlay-tc5:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}