//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$black:				     #000;
$black-11:				 lighten($black, 6.5%);  // #111
$black-22:				 lighten($black, 13.5%); // #222
$black-33:    		     lighten($black, 20%);   // #333
$black-31:    		     lighten($black, 19%);   // #313131
$black-44:    		     lighten($black, 26.3%); // #444
$black-55:    		     lighten($black, 33.5%); // #555
$black-66:    		     lighten($black, 40.5%); // #666
$black-99:    		     lighten($black, 60%);   // #999

// Bootstrap Base Color Gray Base silver
$gray-base:              lighten($black, 50%);   // #808080
$gray-light:             lighten($black, 46.7%); // #777
$gray-lighter:           lighten($black, 93.5%); // #eee
$gray-lightest:          lighten($black, 73.5%); // #bbb
$gray-lightested:        lighten($black, 80%);   // #ccc

// Grey color codes chart From => https://goo.gl/mzETYw

$gray-slategray:     	 #708090; // #708090
$gray-darkslategray:     #2F4F4F; // #2F4F4F
$gray-dimgrey:           #696969; // #696969
$gray-gainsboro:         #DCDCDC; // #DCDCDC
$gray-lightgrey:         #D3D3D3; // #D3D3D3
$gray-dark:              #A3A3A3; // #A3A3A3
$gray-darkgrey:          #A9A9A9; // #A9A9A9
$gray-silver:            #C0C0C0; // #C0C0C0

// Bootstrap Base Color
$primary-color:         darken(#428bca, 6.5%); // #337ab7
$success-color:         #5cb85c;
$info-color:            #5bc0de;
$warning-color:         #f0ad4e;
$danger-color:          #d9534f;

// Standared Color
$red:          			#FF0000;
$blue:          		#0000FF;
$green:          		#008000;
$yellow:          		#FFFF00;
$yellow2:          		#F0C900;


/* Bonanza Project Color */
$dark-cerulean:         #004274;
$curious-blue:          #2980B9;

// White Base Color
$white-ff: 			    #ffffff;
$white-f0: 			    #f0f0f0;
$white-f1: 			    #f1f1f1;
$white-f2: 			    #f2f2f2;
$white-f3: 			    #f3f3f3;
$white-f4: 			    #f4f4f4;
$white-f5: 			    #f5f5f5;
$white-f6: 			    #f6f6f6;
$white-f7: 			    #f7f7f7;
$white-f8: 			    #f8f8f8;
$white-f9: 			    #f9f9f9;
$white-fa: 			    #fafafa;
$white-fb: 			    #fbfbfb;
$white-fc: 			    #fcfcfc;
$white-fd: 			    #fdfdfd;
$white-fe: 			    #fefefe;

// Social Icon Base Color
$fb-color:				#3B5998;
$twitter-color:			#1DA1F2;
$google-color:			#EA4335;
$instagram-color:		#D31A77;
$linkdin-color:			#007BB6;
$pinterest-color:		#CB2027;
$dribble-color:			#EA4C89;
$behance-color:			#0B7BFF;
$skype-color:			#00AFF0;
$youtube-color:			$red;

// Color Alpha Or Rgba
$black-rgb:				rgb(0, 0, 0);
$black-1rgb:			rgb(17, 17, 17);
$white-rgb: 			rgb(255, 255, 255);
$gray-rgb:              rgb(128, 128, 128);

$alpha1:				.1;
$alpha2:				.2;
$alpha25:				.25;
$alpha3:				.3;
$alpha35:				.35;
$alpha4:				.4;
$alpha45:				.45;
$alpha5:				.5;
$alpha55:				.55;
$alpha6:				.6;
$alpha65:				.65;
$alpha7:				.7;
$alpha75:				.75;
$alpha8:				.8;
$alpha85:				.85;
$alpha9:				.9;
$alpha95:				.95;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white-ff;
//** Global text color on `<body>`.
$text-color:            $gray-light;

//** Global textual link color.
$link-color:            $gray-base;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($gray-base, 15%);
//** Link hover decoration.
$link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-open-sans:		  'Open Sans', sans-serif;
$font-raleway:		  	  'Raleway', sans-serif;
$font-serif:		  	  'serif';
$font-work:		  	  	  'Work';

$body-font: 			  $font-open-sans;
$heading-font: 			  $font-work;

//** Default monospace fonts for `<code>`, 1.34vw `<kbd>`, and `<pre>`.
$font-size-base:          14px; 					      // ~14px
$font-size-large:         18px; 					  	  // ~18px
$font-size-small:         12px; 						  // ~12px

$font-size-h1:            36px; 						  // ~36px
$font-size-h2:            30px; 					  	  // ~30px
$font-size-h3:            24px; 						  // ~24px
$font-size-h4:            18px; 					  	  // ~18px
$font-size-h5:            15px;				   		      // ~15px
$font-size-h6:            12px; 						  // ~12px



//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$line-height-custom:      1.642; // ~Custom

//** By default, this inherits from the `<body>`.
$headings-font-family:    $heading-font;
$headings-font-weight-h1-h4:    600;
$headings-font-weight-h5-h6:    500 !default;
$headings-line-height:    $line-height-base;
$headings-color:          $black-33;


//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
//** File name for all font & Icon files.
$icon-font-path:          "../fonts/.." !default;
//** File name for all Images files.
$icon-font-path:          "../images/.." !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal;

$btn-default-color:              $black-33;
$btn-default-bg:                 $white-ff;
$btn-default-border:             #ccc;

$btn-link-color:        		 $black-33;
$btn-link-disabled-color:        $gray-light;

$btn-white-color:                $black-33;
$btn-white-bg:                   $white-ff;
$btn-white-border:               $white-ff;

$btn-dark-color:                 $white-ff;
$btn-dark-bg:                    $black-33;
$btn-dark-border:                $black-33;

$btn-gray-color:                 $black-33;
$btn-gray-bg:                    $gray-lightgrey;
$btn-gray-border:                $gray-lightgrey;



//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-preloader:  				99999;
$zindex-scrollToHome:  				99999;
$zindex-ulockd-ffact-one:           999;
$zindex-ulockd-ffact-two:           999;
$zindex-ulockd-999:                 999;
$zindex-img-post-icon:          	999;
$zindex-nine:					    9;
$zindex-team-two-details:           2;
$zindex-front:          			2;
$zindex-ulockd-frst-divider:        1;
$zindex-dropdown-content:           1;
$zindex-parallax:          			1;