/* Copyrights Sass */

/* Footer Copyright Text */
.ulockd-copy-right,
.ulockd-l2-copy-right {
  color: $black-31;
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
  a {
  	color: $white-ff;
  }
}