/* Feature Sass */

.feature-box {
  position: relative;
  img {
    height: 100%;
  }
  h3 {
    color: $white-ff;
    position: relative;
    @include transition(all 0.3s ease-in-out 0s);
  }
  p {
    color: $white-ff;
  }
  a {
    &:hover {
      color: $white-ff;
    }
  }
  .overlay {
    bottom: 0;
    left: 0;
    padding: 25px 25px 0px;
    position: absolute;
    right: 0;
    top: 0;
    .icon {
      color: $white-ff;
      font-size: 30px;
      position: relative;
      &:before {
        border: 2px solid $white-ff;
        content: "";
        height: 55px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: -3px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 55px;
        @include transition(all 0.5s ease-in-out 0s);
      }
      span {
        position: relative;
        z-index: 999;
      }
    }
    &.two{
      background-color: rgba($dark-cerulean, $alpha9) !important;
    }
    &.three{
      background-color: rgba($curious-blue, $alpha9) !important;
    }
  }
  &:hover {
    .overlay {
      .icon {
        &:before {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
  }
}
.unlock-hexagon {
  left: 0;
  position: absolute;
  top: 0;
  .hexagon {
    background-color: #FCD846;
    border: 1px solid #454545;
    height: 90px; 
    position: relative;
    padding-top: 10px;
    text-align: center;
    width: 160px;
    &:before,
    :after {
      border-left: 80px solid transparent;
      border-right: 80px solid transparent;
      content: "";
      left: 0;
      position: absolute;
      width: 0;
    }
    &:before {
      bottom: 100%;
      border-bottom: 48px solid #FCD846;
    }
    &:before {
      border-top: 48px solid #FCD846;
      top: 100%;
      width: 0;
    }
  }
}