/* Testimonials Sass */

//== Our Testimonials
.ulockd-testimonial {
  background-color: $white-ff;
}
.ulockd-testimonials {
  border: 1px solid  $gray-lighter;
  padding: 10px 40px;
  position: relative;
  @include transition(all 0.3s ease-in-out);
  &:hover {
	  cursor: pointer;
	  @include box-shadow( 0 15px 5px 0 $gray-gainsboro);
  }
  .testi-thumb {
  	img {
  	  border: 1px solid $gray-lighter;
  	  height: 70px;
  	  margin: 0 auto;
  	  width: 70px;
  	}
  }
  p {
	  margin-bottom: 20px;
	  text-transform: capitalize;
  }
  &.style2 {
	  background-color: $white-ff;
	  margin-top: 25px;
  }
}
.testimonial-grid {
  border: 1px solid $gray-lightest;
  padding: 25px 30px 5px;
  .media {
    p {
      color: $white-ff;
    }
  }
  .media-body {
    h4,
    small {
      color: $white-ff;
    } 
  }
}
//== Blog Details Tesimonials
.ulockd-inr-testimonials {
  background-color: $white-f9;
  padding: 10px 25px;
  p {
	  color: $black-31;
  }
  h3 {
	  color: $black-33;
	  margin-bottom: 0;
  }
}
.ulockd-tcompliment {
  span {
    color: $black-22;
  }
}